<h3>Air Travel</h3>

<div class="input-group">
  <input type="text" class="form-control" placeholder="3700 miles" ng-model="airMiles">
  <span class="input-group-addon" id="basic-addon2">miles flown per year</span>
</div>
 





