<form id="airTravelForm" name="air_travel">  

  <h3>Air Travel</h3>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="4300 miles" ng-model="airMiles" name="miles" ng-class="{changed: air_travel.miles.$dirty }">
    <span class="input-group-addon" id="basic-addon2">miles flown per year</span>
  </div>
   
</form>




