<div class="well bottom">
  
  <div class="row" ng-if="!resultsVisible">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">Your emissions <i class="fa fa-info-circle"></i></div>
        <div class="panel-body">
          <table id="legend">
            <tr>
              <td><i class="fa fa-circle travel"></i></td>
              <td>Travel:</td>
              <td>{{ travelLegend }} MT</td>
              <td>{{ (travelLegend / totalLegend * 100).toFixed(1) }}%</td>
            </tr>
            <tr>
              <td><i class="fa fa-circle house"></i></td>
              <td>Home Energy:</td>
              <td>{{ housingLegend }} MT</td>
              <td>{{ (housingLegend / totalLegend * 100).toFixed(1) }}%</td>
            </tr>
            <tr>
              <td><i class="fa fa-circle food"></i></td>
              <td>Food:</td>
              <td>{{ foodLegend }} MT</td>
              <td>{{ (foodLegend / totalLegend * 100).toFixed(1) }}%</td>
            </tr>
          </table>
        </div>
      </div>
    </div> <!-- panel -->
    <div class="col-md-5">
       <h5>Average footprint of other users</h5>
      <div id="smallPieContainer"></div>
    </div>
  </div>
              <!-- RESULTS VISIBLE  -->

  <div class="row" ng-if="resultsVisible">
    <div class="col-md-4">
      <button type="button" class="btn btn-default btn-lg" ng-click="restartForm()">Recalculate<br> your footprint</button>
    </div>    
    <div class="col-md-4">
      <div class="well" id="percentile">
        <p>You are {{ percentile }}% {{ string }} than the average user <span> <i class="fa fa-thumbs-o-up" ng-if="betterAverage"></i><i class="fa fa-thumbs-o-down" ng-if="worseAverage"></i></span></p>
      </div>
    </div>
     <div class="col-md-4">
        <a href="/download_pdf" type="button" class="btn btn-default btn-lg" >
          <h6><i class="fa fa-print fa-3x" href="/download_pdf"></i></h6>
          <h5>Print PDF of <br>your footprint</h5>
        </a>
    </div>
  </div>
</div>