 <div class="well bottom">
   <div class="row">
    <div class="col-md-7">
    <div class="pdf-icons">
      <i class="fa fa-file-text-o fa-3x" href="/download_pdf"></i>
      <p><%= link_to "Print your footprint + tips to reduce my footprint", "/download_pdf" %></p>
    </div>
    <div ng-if="!resultsVisible">
    <div class="panel panel-default">
    <div class="panel-heading">Your emissions <i class="fa fa-info-circle"></i></div>
      <div class="panel-body">
        <table id="legend">
          <tr>
            <td><i class="fa fa-circle travel"></i></td>
            <td>Travel:</td>
            <td>{{ travelLegend }} MT</td>
            <td>{{ (travelLegend / totalLegend * 100).toFixed(1) }}%</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle house"></i></td>
            <td>Home Energy:</td>
            <td>{{ housingLegend }} MT</td>
            <td>{{ (housingLegend / totalLegend * 100).toFixed(1) }}%</td>
          </tr>
          <tr>
            <td><i class="fa fa-circle food"></i></td>
            <td>Food:</td>
            <td>{{ foodLegend }} MT</td>
            <td>{{ (foodLegend / totalLegend * 100).toFixed(1) }}%</td>
          </tr>
        </table>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-5">
      <div ng-if="resultsVisible" id="percentile">
        <h3>You are {{ percentile }}% {{ string }} than the average user <span> <i class="fa fa-thumbs-o-up" ng-if="betterAverage"></i><i class="fa fa-thumbs-o-down" ng-if="worseAverage"></i></span></h3>
      </div>
      <div ng-if="!resultsVisible">
        <h5 style="text-align: center;">Average footprint of other users</h5>
        <div id="smallPieContainer"></div>
      </div>
    </div>
 
     
  </div> <!--  well row -->
</div> <!--  well -->