<div class="well bottom one" ng-if="!resultsVisible">
  
  <div class="row" >
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">Your emissions</div>
        <div class="panel-body">
          <table id="legend">
            <tr>
              <td><i class="fa fa-circle travel"></i></td>
              <td>Travel:</td>
              <td>{{ travelLegend }} tons</td>
            </tr>
            <tr>
              <td><i class="fa fa-circle house"></i></td>
              <td>Home Energy:</td>
              <td>{{ housingLegend }} tons</td>
            </tr>
            <tr>
              <td><i class="fa fa-circle food"></i></td>
              <td>Food:</td>
              <td>{{ foodLegend }} tons</td>
            </tr>
          </table>
        </div>
      </div>
    </div> <!-- panel -->
    <div class="col-md-5">
      <div id="smallPieContainer"></div>
    </div>
  </div>
</div>



              <!-- RESULTS VISIBLE  -->
<div class="well bottom two" ng-if="resultsVisible">
  <div class="row" >
    <div class="col-md-4">
      <button type="button" class="btn btn-default btn-lg" ng-click="restartForm()">Recalculate<br> your footprint</button>
    </div>    
    <div class="col-md-4">
      <div class="well" id="percentile">
        <p>You are {{ percentile }}% {{ string }} than the average user <span> <i class="fa fa-thumbs-o-up" ng-if="betterAverage"></i><i class="fa fa-thumbs-o-down" ng-if="worseAverage"></i></span></p>
      </div>
    </div>
     <div class="col-md-4">
        <a target="_blank" href="/download_pdf" type="button" class="btn btn-default btn-lg print" >
          <h6><i class="fa fa-print fa-2x" href="/download_pdf"></i></h6>
          <h5>Print PDF of <br>your footprint</h5>
        </a>
    </div>
  </div>
</div>
