<div class="chart-icons">
  <form id="radio-buttons"> 
    <label for="pie"><input id="pie" type="radio" ng-model="content" value="pie"><i class="material-icons">pie_chart</i>
    </label>
  
    <label for="bar"><input id="bar" type="radio" ng-model="content" value="bar"><i class="material-icons">insert_chart</i></label>
   
  </form>
</div>


