<div class="row contact-info">
  <div class="col-md-12">
    <h4><a href="tel:+15103329499"><i class="fa fa-phone-square fa-2x"></i></a></h4>
    <h4><a href="mailto:zcheins@gmail.com?Subject=Hello%20again" target="_top"><i class="fa fa-envelope-square fa-2x"></i></a></h4>
    <h4><a target="_blank" href="https://www.linkedin.com/in/zoe-heins-189b15107"><i class="fa fa-linkedin-square fa-2x"></i></a></h4>
    <h4><a target="_blank" href="https://github.com/zoeheins"><i class="fa fa-github-square fa-2x"></i></a></h4>
  </div>
</div>


