<div class="row contact">
  <div class="col-md-12">
    <h1>Let's get in touch!</h1>
  </div>
</div>


<div class="row contact-info">

  <div class="col-md-6">

<img src="https://secure.gravatar.com/userimage/99644374/bd05e0101de54d33cf711f139fb74f30?size=250" class="img-circle"/>


   
  </div>
  <div class="col-md-6 list">
    <h4><i class="fa fa-phone-square fa-lg"></i>510-332-9499</h4>
    <h4><i class="fa fa-envelope-square fa-lg"></i><a href="mailto:zcheins@gmail.com?Subject=Hello%20again" target="_top">zcheins@gmail.com</a></h4>
    <h4><i class="fa fa-linkedin-square fa-lg"></i><a href="https://www.linkedin.com/in/zoe-heins-189b15107">LinkedIn</a></h4>
    <h4><i class="fa fa-github-square fa-lg"></i><a href="https://github.com/zoeheins">Github</a></h4>
  </div>
</div>


