<div class="row contact-info">

  <div class="col-md-12">

    <!-- <img src="https://secure.gravatar.com/userimage/99644374/bd05e0101de54d33cf711f139fb74f30?size=250" class="img-circle"/><br> -->

    <h4><i class="fa fa-envelope-square fa-2x"></i><a href="mailto:zcheins@gmail.com?Subject=Hello%20again" target="_top"></a></h4>

    <h4><i class="fa fa-linkedin-square fa-2x"></i><a href="https://www.linkedin.com/in/zoe-heins-189b15107"></a></h4>

    <h4><i class="fa fa-github-square fa-2x"></i><a href="https://github.com/zoeheins"></a></h4>

    <h4><i class="fa fa-phone-square fa-2x"></i></h4>

  </div>
</div>


