<h3>Question 11: Dairy</h3>
<form>
  <% options = options_for_select([["Less than average", 0.5], ["Average", 1], ["More than average", 1.5]]) %>

  <div>
    <p><%= label_tag "dairy:" %>
       <%= select_tag(:factor, options) %></p>
  
       <%= hidden_field_tag :type, "dairy"  %>
  </div>
</form>


