<h3>Question 5: Electricity</h4>
  <% options = options_for_select([["kWh/year", 1], ["$/year", 0.1015]]) %>

  <div>
    <p><%= label_tag "Electricity:" %>
       <%= text_field_tag :input %>
       <%= select_tag(:input_type, options) %></p>
      
       <%= hidden_field_tag :type, "electricity"  %>
  </div>

