<form id="electricityForm" name="electricity">

<h2>Electricity</h2>

 
  <input ng-model="electricityInput" name="input" ng-class="{changed: electricity.input.$dirty}">
  <select ng-model="electricityType" ng-options="type.name for type in electricityOptions">
  </select>
  

</form>
