<form id="electricityForm">

<h3>Question 5: Electricity</h3>

  <p>
  Electricity: <input ng-model="electricityInput"><br>
  </p>

  <select ng-model="electricityType" ng-options="type.name for type in electricityOptions">
  <option value="">-- choose one --</option>
  </select>

</form>
