<form id="electricityForm">

<h2>Electricity</h2>

 
  <input ng-model="electricityInput">
  <select ng-model="electricityType" ng-options="type.name for type in electricityOptions">
  </select>
  

</form>
