<h3>Electricity</h3>

<form class="form-inline" role="form">
  <div class="input-group">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="{{ electricityType.placeholder }}" ng-model="electricityInput">
    </div>
    <div class="form-group">
      <select class='form-control' ng-model="electricityType" ng-options="type.name for type in electricityOptions">
      </select>          
    </div>
  </div>
</form>