<!-- <h3>Question 13: Fruits/vegetables</h3> -->
<p>
  <label for="nValueFruit">
    <h4>Fruits and vegetables:</h4> {{ fruit.value }}x average
  </label>
  <input type="range" min="0" max="3" step="0.2" id="nValue" style="width: 200px;" ng-model="fruit.value">
</p>








