<h3>Question 13: Fruits/vegetables</h3>
<% options = options_for_select([["Less than average", 0.5], ["Average", 1], ["More than average", 1.5]]) %>

  <div>
    <p><%= label_tag "Fruits/vegetables:" %>
       <%= select_tag(:factor, options) %></p>
  
       <%= hidden_field_tag :type, "fruit"  %>
  </div>


