<h3>Question 12: Grains</h3>
<% options = options_for_select([["Less than average", 0.5], ["Average", 1], ["More than average", 1.5]]) %>

  <div>
    <p><%= label_tag "Grains:" %>
       <%= select_tag(:factor, options) %></p>
  
       <%= hidden_field_tag :type, "grains"  %>
       <%= hidden_field_tag :page, 12 %>
  <div>
