<form id="heatingForm" name="heat">
  <h3>Heating oil</h3>

  <input ng-model="heatingInput" name="input" ng-class="{changed: heat.input.$dirty}" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<h5>$21</h5><h5>7 gallons</h5>">
  <select ng-model="heatingType" ng-options="type.name for type in heatingOptions">
  </select>
   
</form>