<form id="heatingForm">
<h3>Question 7: Heating oil</h3>

  <p>
  Heating oil: <input ng-model="heatingInput">
  </p>

  <select ng-model="heatingType" ng-options="type.name for type in heatingOptions">
    <option value="">-- choose one --</option>
  </select>


</form>



