<form id="homeForm" name="home">
 
  <h3>Housing</h3>
  <p>
  <input ng-model="homeSqft" name="sqft" ng-class="{changed: home.sqft.$dirty}" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<h5>1590 sqft</h5>"> square feet
  </p>
  
</form>



