<h3>Housing</h3>

  <form name="home">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="1850 sqft" ng-model="homeSqft" name="sqft" ng-class="{changed: home.sqft.$dirty}">
    <span class="input-group-addon" id="basic-addon2">square feet</span>
  </div>
  </form>
