<h3>Housing</h3>

  <form name="home">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="1850 sqft" ng-model="homeSqft">
    <span class="input-group-addon" id="basic-addon2">sqft of living space</span>
  </div>
  </form>
