<div class="errors">
    <h4 ng-if="errors">{{ errors }}</h4>
</div>


<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#1" data-toggle="tab" aria-controls="home" role="tab"><i class="material-icons list">person</i></a></li>

    <li role="presentation" ><a href="#2" data-toggle="tab" aria-controls="home" role="tab"><i class="material-icons list">directions_car</i></a></li>

    <li role="presentation"><a href="#3" data-toggle="tab" aria-controls="home" role="tab"><i class="material-icons list">flight</i></a></li>

    <li role="presentation"><a href="#4" data-toggle="tab" aria-controls="home" role="tab"><i class="material-icons list">lightbulb_outline</i></a></li>

    <li role="presentation"><a href="#5" data-toggle="tab" aria-controls="home" role="tab"><i class="material-icons list">whatshot</i></a></li>

    <li role="presentation"><a href="#6" data-toggle="tab" aria-controls="home" role="tab"><i class="material-icons list">home</i></a></li>

    <li role="presentation"><a href="#7" data-toggle="tab" aria-controls="home" role="tab"><i class="material-icons list">restaurant_menu</i></a></li>

    <li role="presentation"><a href="#8" data-toggle="tab" aria-controls="home" role="tab"><i class="material-icons list">check_circle</i></a></li>
</ul>