<div class="row instructions">
  <div class="col-md-4">
    <i class="fa fa-question-circle fa-5x"></i>
    <h2>Fill out the survey</h2>
    <p>Answer questions about your daily habits</p>
  </div>
  <div class="col-md-4">
    <i class="fa fa-bar-chart fa-5x"></i>
    <h2>See your results</h2>
    <p>Compare your footprint with other users'</p>
  </div>
  <div class="col-md-4">
    <i class="fa fa-globe fa-5x"></i>
    <h2>Take action</h2>
    <p>Discover how a few changes can make a big difference</p>
  </div>
</div>


<% if current_user %>
  <a id="sign-up-button" href="/footprints/<%= current_user.id%>" class="btn">Go to my footprint</a>
<% else %>
  <a id="sign-up-button" href="/users/sign_up" class="btn">Create my footprint</a>
<% end %>