<h2>Food</h2>
  <script src="http://d3js.org/d3.v3.min.js"></script>

<table>
  <tr>
    <td>Meat</td>
    <td><p>{{ meat.value }}x average </p><input type="range" min="0" max="3" step="0.2" id="nValueMeat" ng-model="meat.value" style="width: 200px;"></td>
  </tr>
  <tr>
    <td>Dairy</td>
    <td><p>{{ dairy.value }}x average</p><input type="range" min="0" max="3" step="0.2" id="nValueDairy" ng-model="dairy.value" style="width: 200px;"></td>
  </tr>
  <tr>
    <td>Grains and baked goods</td>
    <td><p>{{ grains.value }}x average</p><input type="range" min="0" max="3" step="0.2" id="nValue" ng-model="grains.value" style="width: 200px;"></td>
  </tr>
  <tr>
    <td>Fruits and vegetables</td>
    <td><p>{{ fruit.value }}x average</p><input type="range" min="0" max="3" step="0.2" id="nValue" style="width: 200px;" ng-model="fruit.value"></td>
  </tr>
  <tr>
    <td>Other (snacks, drinks, etc)</td>
    <td><p>{{ other.value }}x average</p><input type="range" min="0" max="3" step="0.2" id="nValue" ng-model="other.value" style="width: 200px;"></td>
  </tr>
</table>


  














