<!-- <h3>Question 12: Meat, fish, eggs</h3> -->
<p>
  <label for="nValueMeat">
    <h4>Meat:</h4> {{ meat.value }}x average
  </label>
  <input type="range" min="0" max="3" step="0.2" id="nValueMeat" style="width: 200px;" ng-model="meat.value">
</p>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script>
    d3.select("#nValueMeat").on("input", function () {
      updateMeat(+this.value);
    });

    updateMeat(1);

    function updateMeat(nValueMeat) {
      d3.select("#text-slider-meat").text(nValueMeat);
      d3.select("#nValueMeat").property("value", nValueMeat);
    }
  </script>










