<h3>Question 6: Natural Gas</h4>
  <% options = options_for_select([["Therms/year", 1], ["$/year", 0.0950], ["Cu.Ft/year", 8.9]]) %>

  <div>
    <p><%= label_tag "Natural gas:" %>
       <%= text_field_tag :input %>
       <%= select_tag(:input_type, options) %></p>
  
       <%= hidden_field_tag :type, "natural_gas"  %>
  </div>


  

