<form id="naturalGasForm">
<h3>Question 6: Natural Gas</h3>


  <p>
  Natural gas: <input ng-model="naturalInput"><br>
  </p>

  <select ng-model="naturalType" ng-options="type.name for type in naturalOptions">
  <option value="">-- choose one --</option>
  </select>

</form>


  

