<h3>Question 14: Other food</h3>
<% options = options_for_select([["Less than average", 0.5], ["Average", 1], ["More than average", 1.5]]) %>

  <div>
    <p><%= label_tag "Other food (snacks, drinks, etc):" %>
       <%= select_tag(:factor, options) %></p>
  
       <%= hidden_field_tag :type, "other"  %>
       <%= hidden_field_tag :page, 14 %>
  <div>

 
