<h3>Question 8: Propane</h4>
<!-- literally made up 4.00 -->
<% options = options_for_select([["gal/year", 1], ["$/year", 4.00]]) %>

  <div>
    <p><%= label_tag "Propane:" %>
       <%= text_field_tag :input %>
       <%= select_tag(:input_type, options) %></p>
      
       <%= hidden_field_tag :type, "propane"  %>
  </div>

  




