<form id="propaneForm">
<h3>Question 8: Propane</h3>

  <p>
  Propane: <input ng-model="propaneInput">
  </p>

  <select ng-model="propaneType" ng-options="type.name for type in propaneOptions">
    <option value="">-- choose one --</option>
  </select>

</form>

  




