<form id="public_transportation">
  <h4>By public transit:</h4>
  <p>
  <input ng-model="miles"> miles per year<br>
  </p>

  <select ng-model="publicType" ng-options="public.name for public in publicOptions">
  </select>

</form>


 


