<h3>Transportation by public transit:</h3>

<form class="form-inline" role="form">
  <div class="input-group">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="{{ publicType.placeholder}}" ng-model="miles">
    </div>
    <span class="input-group-addon" id="basic-addon">miles per year</span>
    <div class="form-group">
      <select class='form-control' ng-model="publicType" ng-options="public.name for public in publicOptions">
      </select>          
    </div>
  </div>
</form>








 


