<form id="public_transportation" name="transport">
  <h4>By public transit:</h4>
  <p>
  <span><select ng-model="publicType" ng-options="public.name for public in publicOptions">
  </select></span><input ng-model="miles" name="miles" ng-class="{changed: transport.miles.$dirty}"> miles per year<br>
  </p>

 

</form>


 


