<% if current_user.profiles.last %>
  <div id="footprint-tracker">
      <h2>You produce 
      <span id="updated-footprint"><strong><%= @user_profile.total_value %></span> megatonnes</strong> CO2 per year</h2>
  </div>
<% end %>
  
<h3>Here's how you can reduce your footprint:</h3>

<form id="take-action">
  <input type="checkbox" ng-click="decreaseChart()" id="saveGas"> Buy a more fuel efficient vehicle<br>
  <input type="checkbox"> Ride your bike<br>
  <input type="checkbox"> Carpool to work<br>
  <input type="checkbox"> Go vegetarian<br>
  <input type="checkbox"> Install PV panels in your home<br>
</form> 

<%= render "chart_buttons" %>



