<body id="show-body">

<table id="show-table">
  <ul>
    <tr><td colspan="2"><h4>Greenhouse gas emissions from</h4></td></tr>
    <tr>
      <td width="25%"><li><p>{{ cars }} passenger vehicles driven for one year</p></li></td>
      <td><i ng-repeat="i in carsRange" class="material-icons">directions_car</i></td>
    </tr>
    <tr>
      <td><li><p>{{ waste }} tons of waste sent to landfill</p></li></td>
      <td><i ng-repeat="i in wasteRange" class="material-icons">local_shipping</i></td>
    </tr>
    <tr><td colspan="2"><h4>CO2 emissions from</h4></td></tr>
    <tr>
      <td><li><p>{{ oil }} barrels of oil consumed</p></li></td>
      <td><i ng-repeat="i in oilRange" class="material-icons">local_gas_station</i></td>
    </tr>
    <tr>
      <td><li><p>{{ homes }} homes' energy use for one year</p></li></td>
      <td><i ng-repeat="i in homeRange" class="fa fa-home fa-lg" style="font-size: 24px;"></i></td>
    </tr>
    <tr>
      <td><li><p>{{ turbines }}wind turbines installed</p></li></td>
      <td><i ng-repeat="i in turbinesRange" class="material-icons">toys</i></td>
    </tr>
    <tr><td colspan="2"><h4>Carbon sequestered by</h4></td></tr>
    <tr>
      <td><li><p>{{ acres }} acres of U.S. forests in one year</p></li></td>
      <td><i ng-repeat="i in acresRange" class="fa fa-tree fa-lg" style="font-size: 22px;"></i></td>
    </tr>
    <tr>
      <td><li><p>{{ trees }} tree seedlings grown for 10 years</p></li></td>
      <td><i ng-repeat="i in treesRange" class="fa fa-pagelines fa-lg" style="font-size: 24px; margin-left: 2px; margin: 2px 2px 0px 0px;"></i></td>
    </tr>
  </ul>
</table>
</body>