<div id="footprint-tracker">
    <h2>Overall footprint:
    <span id="updated-footprint"><%= @user_profile.total_value %></span> MT CO2/year</h2>
</div>
  
<h3>Here's how you can reduce your footprint:</h3>

<form>
  <input type="checkbox" id="vehicleFunction"> Buy a more fuel efficient vehicle<br>
  <input type="checkbox" id="bike"> Ride your bike<br>
  <input type="checkbox" id="carpool"> Carpool to work<br>
  <input type="checkbox" id="veg"> Go vegetarian<br>
  <input type="checkbox" id="solar"> Install PV panels in your home<br>
</form> 
