<h3>Here's how you can reduce your footprint:</h3>

<form id="take-action">
  <input type="checkbox" ng-click="decreaseChart()" id="saveGas"> Buy a more fuel efficient vehicle<br>
  <input type="checkbox"> Ride your bike<br>
  <input type="checkbox"> Carpool to work<br>
  <input type="checkbox"> Go vegetarian<br>
  <input type="checkbox"> Install PV panels in your home<br>
</form> 

<%= render "chart_buttons" %>

<!-- <div id="chart-holder"> -->
  <div class="pieChartContainer[0]" style="width: 600px; height: 450px;" ng-show="content == 'pie'"></div>


  <div id="barChartContainer" style="width: 600px; height: 450px;" ng-show="content == 'bar'"></div>
<!-- </div> -->