<h3>Here's how you can reduce your footprint:</h3>
  <table id="action-table" class="table">
    <thead>
      <tr>
        <th>Action</th>
        <th ng-click="sortActions()">MT CO2 saved <i class="fa fa-sort"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="action in actions | orderBy:'value':descending">
        <td><input type="checkbox" ng-click="decreaseChart()" id="{{action.name}}">{{ action.caption }}</td>
        <td class="action-value">{{ action.value }}</td>
      </tr>
      <tr>
        <td style="text-align: right;">Total:</td>
        <td class="action-value">{{ totalSaved.toFixed(2) }}</td>
      </tr>
    </tbody>
  </table>

<div class="pdf-icons">
  <i class="fa fa-file-text-o fa-3x" ng-click="printPdf()"></i>
  <p>Download PDF</p>
</div>




