<h3>Here's how you can reduce your footprint:</h3>

  <table id="action-table">
    <thead>
      <tr>
        <th>Action</th>
        <th><button ng-click="sortActions()" class="btn btn-default">MT CO2 saved</button></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="action in actions | orderBy:'value':descending">
        <td><input type="checkbox" ng-click="decreaseChart()" id="{{action.name}}">{{ action.caption }}</td>
        <td class="action-value">{{ action.value }}</td>
      </tr>
      <tr>
      <td style="text-align: right;">Total:</td>
      <td class="action-value">{{ totalSaved.toFixed(2) }}</td>
    </tbody>
  </table>

<div class="chart-icons">
  <i class="material-icons" ng-click="changeChart('pie')">pie_chart</i>
  <i class="material-icons" ng-click="changeChart('bar')">insert_chart</i>
</div>




