<h3>Transportation:</h3>
<p><strong>By vehicle</strong></p>
 
<div class="input-group">
  <input type="text" class="form-control" placeholder="22 mpg" ng-model="mileage">
  <span class="input-group-addon" id="basic-addon">average car mileage</span>
</div>


<form class="form-inline" role="form">
  <div class="input-group">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="12500 miles" ng-model="carMiles" name="miles">
    </div>
    <span class="input-group-addon" id="basic-addon">average miles driven per year</span>
    <div class="form-group">
      <select class='form-control' ng-model="fuelType" ng-options="vehicle.name for vehicle in vehicleOptions" >
      </select>           
    </div>
  </div>
</form>









