<form id="carForm">
<h3>Question 2: Vehicle</h3>
 
  <p>
  Mileage: <input ng-model="mileage"><br>
  Miles per year: <input ng-model="carMiles"><br>
  </p>

  <select ng-model="fuelType" ng-options="vehicle.name for vehicle in vehicleOptions">
    <option value="">-- choose a type of fuel --</option>
  </select>

  

</form>








