

<h3>Transportation by vehicle</h3>
 
<div class="input-group">
  <input type="text" class="form-control" placeholder="22 mpg" ng-model="mileage" name="mileage" ng-class="{changed: car.mileage.$dirty}">
  <span class="input-group-addon" id="basic-addon">miles per gallon</span>
</div>


<form class="form-inline" role="form">
  <div class="input-group">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="12,500 miles" ng-model="carMiles" name="miles" ng-class="{changed: car.miles.$dirty}">
    </div>
    <span class="input-group-addon" id="basic-addon">miles per year</span>
    <div class="form-group">
      <select class='form-control' ng-model="fuelType" ng-options="vehicle.name for vehicle in vehicleOptions" >
      </select>           
    </div>
  </div>
</form>









