<form id="carForm" name="car">
  <h2>Transportation</h2> 
 
  <h4>By vehicle:</h4>
  <p>
  <input ng-model="mileage" name="mileage" ng-class="{changed: car.mileage.$dirty}"> gallons per mile<br>
  <input ng-model="carMiles" name="miles" ng-class="{changed: car.miles.$dirty}"> miles per year<br>
  </p>

  <select ng-model="fuelType" ng-options="vehicle.name for vehicle in vehicleOptions">
  </select>

</form>










