<body id="edit-body">
  <div ng-app="app">
    <div ng-controller="editCtrl" ng-init="init()">

      <div class="left-edit">
        <%= render "icon_table" %>
        <div class="questions">
          <%= render "edit_partial" %>
        </div>
      </div>
      
      <div id="chart-holder">
        <div id="pieChartContainer" ng-show="checkChart('pie')"></div>
        <div id="barChartContainer" ng-show="checkChart('bar')"></div>
      </div>

      <div id="pdfContainer" style="display: none;"></div>
    
    </div> <!-- ng controller div -->
  </div> <!-- ng app div -->
</body>