<div ng-app="app">
  <div ng-controller="editCtrl" ng-init="init()">

    <div class="left-edit">

    <div class="errors">
      <h5 ng-if="errors"> {{ errors }}</h5>
    </div>

      <ul class="nav nav-pills nav-stacked">

        <li role="presentation" class="active" ><a href="#1" data-toggle="tab"><i class="material-icons">person</i></a></li>

        <li role="presentation"><a href="#2" data-toggle="tab"><i class="material-icons">directions_car</i></a></li>

        <li role="presentation"><a href="#3" data-toggle="tab"><i class="material-icons">flight</i></a></li>

        <li role="presentation"><a href="#4" data-toggle="tab"><i class="material-icons">lightbulb_outline</i></a></li>

        <li role="presentation"><a href="#5" data-toggle="tab"><i class="material-icons">whatshot</i></a></li>

        <li role="presentation"><a href="#6" data-toggle="tab"><i class="material-icons">home</i></a></li>

        <li role="presentation"><a href="#7" data-toggle="tab"><i class="material-icons">restaurant</i></a></li>

        <li role="presentation"><a href="#8" data-toggle="tab"><i class="material-icons">description</i></a></li>

      </ul>

      <div class="questions">
        <%= render "edit_partial" %>
      </div>

    </div>

    <div id="chart-holder">
     
      <div id="pieChartContainer" style="width: 600px; height: 450px; float: right;" ng-show="content == 'pie'"></div>

      <div id="barChartContainer" style="width: 600px; height: 450px; float: right;" ng-show="content == 'bar'"></div>
    
    </div>


  
  
  </div> <!-- ng controller div -->
</div> <!-- ng app div -->