<body id="edit-body">
<div ng-app="app">
  <div ng-controller="editCtrl" ng-init="init()">


    <section id="edit" class="edit-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">

            <div class="left-edit">
              <%= render "icon_table" %>
              <div class="questions">
                <%= render "edit_partial" %>
              </div>
            </div>
            
            <div id="chart-holder">
              <div class="pieChartContainer" style="width: 600px; height: 450px; float: right;"></div>
            </div>

            

          </div>
        </div>
      </div>
    </section>

    <section id="show" class="show-section" ng-if="showVisible">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">

            <a class="btn btn-default page-scroll" href="#action" ng-click="changeAction()">learn more!</a>

            <%= render "show" %>


          
          </div>
        </div>
      </div>
    </section>


    <section id="action" class="action-section" ng-if="actionVisible">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1>Here's how you can improve your footprint</h1>
            <%= render "take_action" %>
          </div>
        </div>
      </div>
    </section>



  
  </div> <!-- ng controller div -->
</div> <!-- ng app div -->
</body>