<h2>Update your footprint:</h2>
<% @partials.each do |partial| %>
    
  <%= form_tag "/footprints/#{current_user.id}", method: :patch do %>

  <%= render "#{partial}" %>
  
  <div>
    <%= submit_tag "Update this question" %>
  </div>

  <% end %>
  
<% end %>




