<body id="edit-body">
<div ng-app="app">
  <div ng-controller="editCtrl" ng-init="init()">



    <div class="left-edit">
      <%= render "icon_table" %>
      <div class="questions">
        <%= render "edit_partial" %>
      </div>
    </div>
    
    <div id="chart-holder">
      <div id="pieChartContainer" style="width: 600px; height: 450px; float: right;"  ng-show="content == 'pie'"></div>
      <div id="barChartContainer" style="width: 600px; height: 450px;" ng-show="content == 'bar'"></div>
    </div>



  
  </div> <!-- ng controller div -->
</div> <!-- ng app div -->
</body>