
<div ng-app="app">
  <div ng-controller="editCtrl" ng-init="init()">
    
    <!-- <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"> -->

    <section id="edit" class="edit-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">

            <div class="left-edit">
              <%= render "icon_table" %>
              <div class="questions">
                <%= render "edit_partial" %>
              </div>
            </div>
            <div id="chart-holder">
              <div id="pieChartContainer" style="width: 600px; height: 450px; float: right;" ng-show="content == 'pie'"></div>
              <div id="barChartContainer" style="width: 600px; height: 450px; float: right;" ng-show="content == 'bar'"></div>
            </div>

            

          </div>
        </div>
      </div>
    </section>

    <section id="show" class="show-section" ng-if="showVisible">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <%= render "show" %>
          
          </div>
        </div>
      </div>
    </section>


  <!-- </body> -->
  
  </div> <!-- ng controller div -->
</div> <!-- ng app div -->

