<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div id="index-title">
                <div id="circle">
                    <h1>CO<sub>U</sub></h1>
                    <h2>A CARBON FOOTPRINT CALCULATOR</h2>
                    <a class="page-scroll" href="#about"><i class="fa fa-arrow-circle-down fa-5x"></i></a> 
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h3 class="quote">“One individual cannot possibly make a difference, alone. It is individual efforts, collectively, that makes a noticeable difference—all the difference in the world!”</h3>
                    <h3 class="quote">— Dr. Jane Goodall</h3>
                </div>
            </div>
        </div>
    </section>

      <!-- instructions Section -->
    <section id="instructions" class="instructions-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <%= render "instructions" %>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <%= render "contact" %>
                </div>
            </div>
        </div>
    </section>

</body>


