.index-header .ng-enter {
 -webkit-animation: fadeIn 2.5s;
  -moz-animation: fadeIn 2.5s;
  -o-animation: fadeIn 2.5s;
  animation: fadeIn 2.5s;
}

.errors .ng-enter {
  -webkit-animation: bounceIn 0.5s;
  -moz-animation: bounceIn 0.5s;
  -o-animation: bounceIn 0.5s;
  animation: bounceIn 0.5s;
}

.errors .ng-leave {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.chart-instructions.ng-enter {
  -webkit-animation: fadeInRight 2s;
  -moz-animation: fadeInRight 2s;
  -o-animation: fadeInRight 2s;
  animation: fadeInRight 2s;
}

.chart-instructions.ng-leave {
  -webkit-animation: fadeOutRight 2s;
  -moz-animation: fadeOutRight 2s;
  -o-animation: fadeOutRight 2s;
  animation: fadeOutRight 2s;
}


.fade {
    opacity:0;
    -webkit-transition: opacity 1.3s linear;
    -o-transition: opacity 1.3s linear;
    transition: opacity 1.3s linear;
}


