@import "bootstrap-sprockets";
@import "bootstrap";


* {
  font-family: Geneva;
}

.page {
  margin-left: 20px;
  margin-right: 10px;
}

div#pie-holder {
  float: right;
  margin-right: 100px;
  width: 700px;
}

div#bar-holder {
  margin-top: 30px;
}


#nValue {
  width: 200px;
}

#footprint-tracker {
  p {
    display: inline-block;
  }
}

#edit-body {
  position: relative;
}

ul.nav-pills {
  position: fixed;
}

.container {
  margin-left: 10px;
}

.col-sm-9 {
  margin-left: 120px;
}

.form-div {
  margin-bottom: 30px;
  background-color: #c6ebc6;
  padding: 5px 25px 25px 25px;
  border-radius: 20px;
}

.tab-pane {
  background-color: #c6ebc6;
  padding: 10px 30px 30px 30px;
  margin: 20px;
  width: 50%;
  border-radius: 15px;
  height: 500px;
  overflow: auto;
}

.question {
  margin-bottom: 80px;

}




