@import "bootstrap-sprockets";
@import "bootstrap";


$black: #1d2120;
$grey: #5a5c51;
$brown: #ba9077;
$green: #B5B690;


body { 
  // background-color: $black; 
  padding-bottom: 50px; // footer
}

* { font-family: Geneva; }

.page {
  margin-left: 5%;
  margin-right: 5%;
}


#footprint-tracker {
  p {
    display: inline-block;
  }
}

// ------------------  EDIT ---------------------------

.left-edit {

  ul.nav.nav-pills.nav-stacked {
    margin-left: 0.5%;
    margin-top: 3%;
    float: left;
    width: 50px; 

    .active > a {
      background-color: transparent;
    }

    i {
      color: $green;
    }
  }

  .questions {
    float: left;

    .tab-pane {
      background-color: $green;
      padding: 5px 20px 20px 20px;
      margin: 20px;
      width: 600px;
      border-radius: 15px;
      height: 500px;
      position: relative;

      .arrow-before {
        display: inline-block;
        position: absolute;
        bottom: 5%;
        color: white;

        i { font-size: 50px; }
      }

      .arrow-next {
        display: inline-block;
        right: 5%;
        color: white;
        position: absolute;
        bottom: 5%;

        i { font-size: 50px; }
      }

      .btn.btn-default.last {
        position: absolute;
        bottom: 10%;
        right: 5%;
      }

      h2 {
        color: $black;
        margin-bottom: 20px;
      }

      .question {
        margin-bottom: 60px;

        input {
          margin-bottom: 10px;
          margin-left: 5px;
        }
      }
    }
  }
}


div#chart-holder {
  margin: 10px;
  padding: 10px;
  float: right;
  margin-right: 100px;
}

select {
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
}






// -------------- INDEX ---------------------------

.jumbotron {
  width: 75%;
  border-radius: 8px;
  margin: auto;
  height: 75%;
  padding: 10%;
  background-color: $green;
}


//  --------------TABLE ------------------------------

th, td { padding: 10px; }

// -------------- HEADER ------------------------

.navbar.navbar-default.navbar-fixed-top {
  // background-color: transparent;
  border: none;
}


// -------------- SHOW ----------------------------

.chart-icons {
  i {
    font-size: 48px;
    margin: 100px 30px 30px 30px; 
    padding: 5px;
  }
}

#radio-buttons {

  label > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }

  label > input:checked + i{ /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid $black;
  }
}




















