@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Raleway);


$green: #C5D5CB;
$grey: rgb(159,168,163);
$black: #232825;

body { 
  // padding-bottom: 50px; // footer
}

* { font-family: Raleway; }

// ------------------  EDIT ---------------------------


ul.nav.nav-pills.nav-stacked {
  margin-left: 5px;
  margin-top: 25px;
  float: left;
  width: 40px; 

  a:hover {
    background-color: transparent;
  }

  .active > a {
    background-color: transparent;
  }

  i {
    color: $grey;
    font-size: 30px;
    margin-top: 5px;
  }
}

.tab-content {
  float: left;

  // margin-left: -15px;

  .tab-pane {
    background-color: rgba(255,255,255,0.5);
    padding: 5px 20px 20px 20px;
    margin: 20px;
    width: 600px;
    height: 520px;
    border-radius: 15px;
    position: relative;

    .arrow-before {
      display: inline-block;
      position: absolute;
      bottom: 2%;
      color: black;

      // i.material-icons { font-size: 60px; }
    }

    .arrow-next {
      display: inline-block;
      right: 5%;
      color: black;
      position: absolute;
      bottom: 2%;

      // i { font-size: 60px; }
    }   

    h2 { margin-bottom: 20px; }
    h3 { margin-bottom: 15px; }

    .question {
      margin-bottom: 60px;
      
      p { font-size: 18px;}

      input {
        margin: 10px 8px 10px 8px;
        background-color: $green;
      }
      .changed {
        background-color: white;
      }
      select { margin: 10px 8px 10px 8px; }
    }
  }
}


select {
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
}

  h2#food-title {
    margin: 20px 20px 0px 0px;
  }


table#slider-table {
  float: top;

  tr, td {
    // border: 1px dotted black;
    // top - right - bottom - left
    padding: 3px 10px 10px 3px;
  }
}

#nValueMeat {
  width: 200px;
}

p.slider-value {
  text-align: center;
}

.calories {
  text-align: center;
}

table#action-table {
  padding: 10px;
  margin: 10px;
  font-size: 18px;

  td.action-value {
    text-align: center;
  }

  td {
    padding: 12px;
  }
}


// -------------- INDEX ---------------------------


.btn.btn-default {
  background-color: transparent;
  font-size: 18px;
  border: 2.5px solid $black;
  padding: 5px 10px 5px 10px;
  color: $black;
}

.btn.btn-default:hover {
  background-color: $black;
  color: white;
}

// CALCULATE YOUR CARBON FOOTPRINT
.col-lg-12 {
  h1 { 
    font-size: 50px; 
    color: $black;
  }
}




// -------------- HEADER ------------------------

.navbar.navbar-default.navbar-fixed-top {
  background-color: transparent;
  border: none;
  a {
    color: white;
  }
}

// ----- ANIMATIONS ---------------------------------

.errors .ng-enter {
  -webkit-animation: shake 0.5s;
  -moz-animation: shake 0.5s;
  -o-animation: shake 0.5s;
  animation: shake 0.5s;
}

.errors {
  position: absolute;
  margin-left: 350px;
  margin-top: 50px; 
  height: 50px;

  h4 { color: #b52d41; }
 
}

.material-icons.list.ng-enter {
  -webkit-animation: fadeIn 2.5s;
  -moz-animation: fadeIn 2.5s;
  -o-animation: fadeIn 2.5s;
  animation: fadeIn 2.5s;
}

.material-icons.list.ng-leave {
  -webkit-animation: fade 1s;
  -moz-animation: fade 1s;
  -o-animation: fade 1s;
  animation: fade 1s;
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  transition: all 1.2s;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}




// -------------- SHOW ----------------------------
// ------------------------------------------------


body#show-body {
  margin-left: 20px;
  margin-right: 20px;
  font-family: Raleway;

  i.fa.fa-pagelines.fa-lg {
    background-color: red;
  }

  h2 { margin-bottom: 15px; }

}


#show-table {
  // th, td { border: 2px solid black; }
  h4 {
    font-style: italic;
    padding: 5px;
  }
}


span#total {
  font-size: 40px;
}

span#equivalent {
  font-size: 24px;
}


// ----------- CHARTS ----------------------------



div#chart-holder {
  // top - right - bottom - left
  margin: 30px 40px 10px 0px;
  padding: 10px;
  float: right;

  #pieChartContainer {
    // width: 100% !important;
    // height: 100% !important;
    width: 650px;
    height: 550px;
    float: right;
  }

  #barChartContainer {
    width: 650px;
    height: 550px;
    float: right;    
  }
}


.chart-icons {
  i {
    font-size: 48px;
    margin: 30px 30px 30px 30px; 
    padding: 5px;
  }
}



// ------------------------


.progress {
  display: inline-block;
  margin-top: 30px;
  margin-left: 70px;
  width: 590px;  
}




body#edit-body {
  background-color: $green;
}

.modal-lg {
  width: 90% !important;
}



#modalButton {
  margin: 200px;
}






