.index-header .ng-enter {
 -webkit-animation: fadeIn 2.5s;
  -moz-animation: fadeIn 2.5s;
  -o-animation: fadeIn 2.5s;
  animation: fadeIn 2.5s;
}


.errors .ng-enter {
  -webkit-animation: bounceIn 0.5s;
  -moz-animation: bounceIn 0.5s;
  -o-animation: bounceIn 0.5s;
  animation: bounceIn 0.5s;
}

.chart-instructions.ng-enter {
  -webkit-animation: fadeInRight 2s;
  -moz-animation: fadeInRight 2s;
  -o-animation: fadeInRight 2s;
  animation: fadeInRight 2s;
}

.chart-instructions.ng-leave {
  -webkit-animation: fadeOutRight 2s;
  -moz-animation: fadeOutRight 2s;
  -o-animation: fadeOutRight 2s;
  animation: fadeOutRight 2s;
}


.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 300px;
  opacity: 0;
  -webkit-transition: all 1.2s;
  -moz-transition: all 1.2s;
  transition: all 1.2s;
}

.modal.fade.in .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0, -300px, 0);
  transform: translate3d(0, -300px, 0);
  opacity: 1;
}

.intro-instructions.ng-enter {
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.toggle-instructions.ng-enter {
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  animation: fadeIn 5s;
}

.toggle-instructions.ng-leave {
  -webkit-animation: fadeOut 2s;
  -moz-animation: fadeOut 2s;
  -o-animation: fadeOut 2s;
  animation: fadeOut 2s;
}


