body.devise-body {
 
  background: image-url("wood-nature-person-walking.jpg");
  background-size: 100%;
  font-size: 16px;
  padding-top: 10%;

  .field { margin: 15px; }
  .actions { margin: 10px; }
}

.panel.panel-default.devise {

  width: 300px;
  margin: auto;

  .panel-title {
    font-size: 36px;
    font-family: Raleway;
  }

}



