<h3>Question 4: Air Travel</h3>

  <div>
    <p><%= label_tag "Miles you fly in a year:" %>
       <%= text_field_tag :air_miles %></p>
       
       <%= hidden_field_tag :type, "air_travel" %>
       <%= hidden_field_tag :page, 4 %>
  <div>

  



